<form [formGroup]="form" (ngSubmit)="guardar()">
  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Primer Nombre</label>
      <input type="text" formControlName="nombre1" class="form-control">
    </div>
    <div class="col-md-6">
      <label class="form-label">Segundo Nombre</label>
      <input type="text" formControlName="nombre2" class="form-control">
    </div>

    <div class="col-md-6">
      <label class="form-label">Apellido Paterno</label>
      <input type="text" formControlName="apellido1" class="form-control">
    </div>
    <div class="col-md-6">
      <label class="form-label">Apellido Materno</label>
      <input type="text" formControlName="apellido2" class="form-control">
    </div>

    <div class="col-12">
      <label class="form-label">RUN</label>
      <input type="text" formControlName="run" class="form-control" placeholder="12.345.678-9">
    </div>

    <div class="col-12">
      <label class="form-label">Curso</label>
      <select formControlName="idCurso" class="form-select">
        <option [ngValue]="null" disabled>Seleccione un curso</option>
        @for (curso of cursoStore.cursos(); track curso.idCurso) {
          <option [ngValue]="curso.idCurso">{{ curso.nombreCurso }}</option>
        }
      </select>
    </div>
  </div>

  <div class="d-grid mt-4">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Registrar Estudiante
    </button>
  </div>
</form>