<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center gap-2" href="#">
            <span class="material-symbols-outlined text-yellow">school</span>
            <span class="ls-wide text-uppercase" style="letter-spacing: 0.1em;">Proyecto Aplicaciones Web</span>
        </a>
        <button class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                @if (usuarioStore.isValid()) {
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard">Dashboard de Asistencia</a>
                    </li>
                }
            </ul>
            @if (!usuarioStore.isValid()) {
                <a routerLink="/login" class="btn btn-yellow px-4 py-2">Login</a>
            } @else {
                <div class="d-flex align-items-center gap-3">
                    <div class="text-end">
                        <span class="d-block text-yellow fw-bold small text-uppercase"
                        style="letter-spacing: 0.1em;">Usuario</span>
                        <span class="text-white small">{{ usuarioStore.username() }}</span>
                    </div>
                    <button (click)="logout()" class="btn btn-outline-light btn-sm px-3 py-2">
                        Cerrar Sesión
                    </button>
                </div>
            }
            
        </div>
    </div>
</nav>
<main>
    <section class="hero-section">
        <img alt="University Campus" class="hero-bg"
            src="https://assets.tvu.cl/2018/07/Apoderados-acuden-a-la-justicia-por-taller-de-ideolog%C3%ADa-de-g%C3%A9nero-en-cuarto-b%C3%A1sico-850x400.jpg" />
        <div class="hero-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h1 class="display-3 mb-4">Modulo de Gestión de Asistencia</h1>
                    <p class="lead mb-5 text-light opacity-75">Registro y gestión de asistencias estudiantiles</p>
                    <div class="d-flex gap-3">
                        <a routerLink="/registro" class="btn btn-yellow btn-lg px-4 py-3 shadow">Registrarme</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section -->
    <section class="py-5 bg-white">
        <div class="container py-lg-5">
            <div class="row align-items-center g-5">
                <div class="col-md-6 position-relative">
                    <img alt="Students Studying"
                        class="img-fluid rounded shadow-lg border-bottom border-4 border-warning"
                        src="https://lh3.googleusercontent.com/gps-cs-s/APNQkAH5sAfzUCnTxh4inJcDKKT-8PkPSKgA-v0FRNIaltu1QUK4F_mjD6QsINztUgLjPyi-wowwPwO62u__9uxEX7KhiL2jp7aDaCGmIgM4ntzFx1c8X9BvrovsnZ06sCLa9fhc6iPb-A=s1360-w1360-h1020-rw" />
                    <div
                        class="position-absolute bottom-0 end-0 bg-navy p-4 rounded shadow d-none d-lg-block mb-n4 me-n4 text-center">
                        <h2 class="text-white mb-0 h1">Colegio</h2>
                        <span class="text-yellow text-uppercase fw-bold small">Marcela Paz Concepción</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="text-navy h1 mb-4">Proyecto Academico</h2>
                    <p class="text-muted mb-4">El presente proyecto tiene como objetivo presentar modulo
                        de gestion de inasistencias y atrasos para el Colegio Marcela Paz Concepción.</p>
                    <ul class="list-unstyled">
                        <li class="mb-3 d-flex gap-3">
                            <span class="material-symbols-outlined text-navy">check_circle</span>
                            <span>Registrar Asistencia</span>
                        </li>
                        <li class="mb-3 d-flex gap-3">
                            <span class="material-symbols-outlined text-navy">check_circle</span>
                            <span>Gestionar Inasistencias</span>
                        </li>
                        <li class="mb-3 d-flex gap-3">
                            <span class="material-symbols-outlined text-navy">check_circle</span>
                            <span>Gestionar Atrasos</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
                <span class="fw-bold text-yellow text-uppercase small" style="letter-spacing: 0.1em;">Aplicaciones y
                    Tecnologias de la web</span>
                <p class="small text-light opacity-50 mt-2 mb-0">© Universidad San Sebastián.</p>
            </div>
            <div class="col-md-6">
                <ul class="nav justify-content-center justify-content-md-end gap-4">
                    <li>
                        <a href="https://github.com/BenjaProject/ICIFG003-EQ01" target="_blank"
                            rel="noopener noreferrer" class="github-link">

                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"
                                fill="currentColor">
                                <path
                                    d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.041-1.416-4.041-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>