/* You can add global styles to this file, and also import other style files */
:root {
    --bs-primary: #002147;
    --bs-secondary: #fcd400;
    --navy-dark: #001b3d;
    --yellow-hover: #e9c400;
}